<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/assets/beaker_icon.ico" />
    <link rel="shortcut icon" href="~/assets/mtulogo.png" />
    <title>@ViewData["Title"] - ChemStoreWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 justify-content-center">
            <div class="container">
                
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img title="" alt="MTULogo" src="~/assets/FullName_Horizontal_TwoColor.png" height="60" />
                    ChemStore
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <div class="navbar-nav flex-grow-1">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Log">Log</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/ContactUs">Contact</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>
                    </div>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse user-nav-bar">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @{
                                //This is just some logic to get the role for below, since there isn't an easy way to get the highest Role
                                string role = "Member";
                                for (int i = 2; i >= 0; i--)
                                {
                                    if (User.IsInRole(((Roles)i).ToString()))
                                        role = ((Roles)i).ToString();
                                }
                            }
                            <p>@User.Identity.Name - @role</p>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/LoginPage">Login</a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ChemStore - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
