@page
@model ChemStoreWebApp.Pages.Admin.Hazards.IndexModel

@{
    ViewData["Title"] = "Hazards";
}

<h1>Hazards</h1>

<p>
    <a asp-page="../../Admin/Index">Return</a>
</p>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hazard[0].HazardId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hazard[0].HazardDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Hazard) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HazardId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HazardDetails)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.HazardId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.HazardId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.HazardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
