@page
@model ChemStoreWebApp.Pages.Admin.Containers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Container</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Container.ContainerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Container.ContainerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Container.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Container.Unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Container.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Container.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Container.ChemId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Container.ChemId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Container.LocationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Container.LocationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Container.ContainerNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Container.ContainerNavigation.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Container.ContainerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
