@page
@model ChemStoreWebApp.Pages.Admin.Containers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Container</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Container.ContainerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Container.ContainerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Container.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Container.Unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Container.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Container.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Container.ChemId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Container.ChemId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Container.LocationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Container.LocationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Container.ContainerNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Container.ContainerNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Container.ContainerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
