@page
@model ChemStoreWebApp.Pages.Admin.Containers.IndexModel

@{
    ViewData["Title"] = "Containers";
}

<h1>Containers</h1>

<p>
    <a asp-page="../../Admin/Index">Return</a>
</p>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Container[0].ContainerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Container[0].Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Container[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Container[0].ChemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Container[0].LocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Container[0].ContainerNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Container) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContainerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContainerNavigation.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ContainerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ContainerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ContainerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
