@page
@model ChemStoreWebApp.Pages.Debug.ContainerModel
@using ChemStoreWebApp.Utilities

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Container</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                ContainerID
            </th>
            <th>
                ProductName
            </th>
            <th>
                Size
            </th>
            <th>
                Notes
            </th>
            <th>
                LocationID
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.X_Container) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContainerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationID)
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
