@page
@model ChemStoreWebApp.Pages.Admin.PeopleInCharge.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PersonInCharge</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonInCharge.PicId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonInCharge.PicId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonInCharge.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonInCharge.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonInCharge.PicName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonInCharge.PicName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonInCharge.Pic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonInCharge.Pic.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PersonInCharge.PicId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
