@page
@model ChemStoreWebApp.Pages.Admin.PeopleInCharge.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonInCharge</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonInCharge.PicId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonInCharge.PicId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonInCharge.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonInCharge.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonInCharge.PicName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonInCharge.PicName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonInCharge.Pic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonInCharge.Pic.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PersonInCharge.PicId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
