@page
@model ChemStoreWebApp.Pages.Admin.PeopleInCharge.IndexModel

@{
    ViewData["Title"] = "People In Charge";
}

<h1>People In Charge</h1>

<p>
    <a asp-page="../../Admin/Index">Return</a>
</p>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonInCharge[0].PicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonInCharge[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonInCharge[0].PicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonInCharge[0].Pic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PersonInCharge) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PicId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pic.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PicId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PicId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PicId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
