@page
@model ChemStoreWebApp.Pages.Admin.LocationCRUD.IndexModel
@using ChemStoreWebApp.Utilities

@{
    Layout = "../../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].RoomNumber)
            </th>
            <th>
                    @Html.DisplayNameFor(model => @EnumHelper.GetDisplayValue((Buildings)model.Location[0].BuildingName))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Location) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RoomId">Edit</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingName)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
