@page
@model ChemStoreWebApp.Pages.Admin.Location.IndexModel
@using ChemStoreWebApp.Utilities

@{
    Layout = "../../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <script>
        function updateForm(roomId) {
            document.getElementById("selectedLocation").value = roomId;
        }
    </script>
<p>
        <a asp-authorize asp-roles="Admin" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].RoomNumber)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Location[0].BuildingName)
            </th>
            <th></th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Location) {
        <tr>
            @* <td>
                        <a asp-page="./Edit" asp-authorize asp-roles="Admin" asp-route-id="@item.RoomId">Edit</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @EnumHelper.GetDisplayValue((Buildings)item.BuildingName)
            </td>
            <td>
                  <button type="button" class="searchPageBtns redBtn" id="delModalBtn" onclick="updateForm('@item.RoomId')" data-toggle="modal" data-target="#confirmationModal">
                        Delete
                  </button>
            </td> *@
        </tr>
}
    </tbody>
</table>

    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="justify-content:center;">
                    <h5 class="modal-title" style="font-size: 30px" id="modalLabel">Are You Sure?</h5>
                    <button type="button" class="close" style="position: absolute; right: 15px; width: 20%;" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center">
                    <button type="button" class="btn modalBtns redBtn" data-dismiss="modal">Close</button>
                    <form method="post">
                        <input type="hidden" name="selectedLocation" id="selectedLocation" value="-1" />
                        <button type="submit" class="btn modalBtns greenBtn" id="DelButton" asp-page-handler="delete">
                            Yes
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>
