@page
@model ChemStoreWebApp.Pages.Chemicals.IndexModel

@{
    ViewData["Title"] = "Chemicals";
}

<h1>List of chemicals in database</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Chemical[0].CasNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chemical[0].ChemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chemical[0].HazardId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Chemical) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CasNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HazardId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CasNumber">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CasNumber">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CasNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
