@page
@model ChemStoreWebApp.Pages.Admin.Account.IndexModel
@using ChemStoreWebApp.Utilities

@{
    Layout = "../../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
        <a asp-authorize asp-roles="Admin" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Name)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account[0].Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account[0].Supervisor)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Account[0].Department)
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Account) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-authorize asp-roles="Admin" asp-route-id="@item.AccountId">Edit</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @((item.Role == null) ? "" : @EnumHelper.GetDisplayValue((Roles)item.Role))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supervisor)
            </td>
            <td>
                @(item.Department == null ? "" : @EnumHelper.GetDisplayValue((Departments)item.Department))
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
