@page
@model ChemStoreWebApp.Pages.LogModel
@using ChemStoreWebApp.Utilities

@{
    ViewData["Title"] = "Log";
}

<!-- Should eventually have its own style sheet -->
<head>
    <link rel="stylesheet" href="\css\searchItemLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="\css\logItemLayout.css" asp-append-version="true" />
</head>
<div class="container-fluid homeContainer">
    <div class="row searchContainer">
        <div class="col-sm-4 col-lg-3 filterLeft" id="search">
            <button class="miniToggle" title="Show Filter" onclick="toggleFilter()">
                <i class="fa-solid fa-sliders"></i>
            </button>
            <div class="row logFilterSection filterInputs">
                <div class="col-12 filterHeader">
                    <div class="filterHeaderLeft">
                        <h2>Filter Results</h2>
                    </div>
                    <div>
                        <button class="hideFilter filterInputs" title="Hide Filter" onclick="toggleFilter()">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
                   
                <div class="col-12 search">
                    <form id="filterForm">
                        <div class="row filterRow">
                            <input type="text" placeholder="User" class="filterInput" asp-for="searchUser" />
                        </div>
                        <div class="row filterRow">
                            <input type="text" placeholder="Search Details" class="filterInput" asp-for="searchDetails" />
                        </div>
                        <div class="row filterRow">
                           <input type="text" placeholder="Container ID" class="filterInput" asp-for="containerID" />
                        </div>
                        <div class="row filterRow">
                            <select asp-for="searchAction" class="filterInput" asp-items="Html.GetEnumSelectList<Actions>()" id="selectAction">
                                <option value="">Action</option>
                            </select>
                        </div>
                        <div class="row filterRow">
                            <select asp-for="searchRole" class="filterInput" asp-items="Html.GetEnumSelectList<Roles>()" id="selectRole">
                                <option value="">Role</option>
                            </select>
                        </div>
                        <div class="row filterRow">
                            <div class="col-12 filterBtnRow">
                                <div class="col-12 filterBtnRow"><button type="reset" class="filterBtnSecon">Clear Filter </button></div>
                                <div class="col-12 filterBtnRow"><button type="submit" class="filterBtn">Apply Filter</button></div>
                            </div>
                        </div>
                        
                    </form>
                </div>
                
            </div>
        </div>
        
        <div class="col resultsContainer">
            @if (Model.LogEntries.Count() > 0)
            {
                // Sorting Buttons
                <div class="row orderRow">
                    <div class="col orderBtnCol">
                        <button type="submit" class="tableBtn" form="filterForm" name="sortMethod" value="0">
                            Date   
                            <img src="@((Model.prevSort == 0) ? "assets/upTableSort.png" :
                                                (Model.prevSort == 1) ? "assets/downTableSort.png" : "assets/neutralTableSort.png")" class="img tableSort" id="buttonImg">
                        </button>
                        <input name="prevSort" form="filterForm" asp-for="prevSort" type="number" value="@Model.prevSort" hidden>
                    </div>

                    <div class="col orderBtnCol">
                        <button type="submit" class="tableBtn" form="filterForm" name="sortMethod" value="2">
                            User   
                            <img src="@((Model.prevSort == 2) ? "assets/upTableSort.png" :
                                                (Model.prevSort == 3) ? "assets/downTableSort.png" : "assets/neutralTableSort.png")" class="img tableSort" id="buttonImg">
                        </button>
                    </div>

                    <div class="col orderBtnCol">
                        <button type="submit" class="tableBtn" form="filterForm" name="sortMethod" class="tableButton" value="4">
                            Action
                            <img src="@((Model.prevSort == 4) ? "assets/upTableSort.png" :
                                                (Model.prevSort == 5) ? "assets/downTableSort.png" : "assets/neutralTableSort.png")" class="img tableSort" id="buttonImg">
                        </button>
                    </div>

                    <div class="col orderBtnCol">
                        <button type="submit" class="tableBtn" form="filterForm" name="sortMethod" class="tableButton" value="8">
                            Table
                            <img src="@((Model.prevSort == 8) ? "assets/upTableSort.png" :
                                                (Model.prevSort == 9) ? "assets/downTableSort.png" : "assets/neutralTableSort.png")" class="img tableSort" id="buttonImg">
                        </button>
                    </div>

                    <div class="col orderBtnCol">
                        <button type="submit" class="tableBtn" form="filterForm" name="sortMethod" class="tableButton" value="10">
                            Key
                            <img src="@((Model.prevSort == 10) ? "assets/upTableSort.png" :
                                                (Model.prevSort == 11) ? "assets/downTableSort.png" : "assets/neutralTableSort.png")" class="img tableSort" id="buttonImg">
                        </button>
                    </div>

                    <div class="col orderBtnCol">
                        <button type="submit" class="tableBtn" form="filterForm" name="sortMethod" value="6">
                            Details
                            <img src="@((Model.prevSort == 6) ? "assets/upTableSort.png" :
                                                (Model.prevSort == 7) ? "assets/downTableSort.png" : "assets/neutralTableSort.png")" class="img tableSort" id="buttonImg">
                        </button>
                    </div>
                </div>
            }
            <div class="row logResults" id="results">
                <div class="col">
                    @if(Model.LogEntries.Count() > 0)
                    {
                        var count = Model.LogEntries.Count();
                        var start = 0;
                        var end = 25;
                        var numOfPages = Model.LogEntries.Count() / 25;

                        if (count < end) { end = count; }

                       

                     @*   if (!Model.textEntered())
                        {
                            <p class="noFilters">No Filters Applied</p>
                        }*@
                        
                        // Display Logs
                        @for(var i = start; i < end; i++)
                        {
                            var item = Model.LogEntries[i];

                            <div class="row logResult">
                                <div class="col logCol">
                                    @Html.DisplayFor(modelItem => item.DateTime)
                                </div>

                                <div class="col logCol">
                                    @Html.DisplayFor(modelItem => item.User.Email)
                                </div>

                                <div class="col logCol">
                                    @EnumHelper.GetDisplayValue((Actions)item.Action)
                                </div>

                                <div class="col logCol">
                                    @Html.DisplayFor(modelItem => item.table)
                                </div>

                                <div class="col logCol">
                                    @Html.DisplayFor(modelItem => item.key)
                                </div>

                                <div class="col logCol">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </div>
                            </div>
                        }
                    } 
                    else
                    {
                        if (Model.textEntered())
                        {
                            <div class="noResults">No Results Found</div>
                        }
                    }
                </div>
            </div>

            @*Page Selectors*@
            <div class="row pageSelectorCont">
                <a href=""> > </a>
                <a href=""> >> </a>
            </div>
        </div>
    </div>
</div>

<script>
    let filterOpen = true;

    function toggleFilter() {
        if (!filterOpen) {
            // open filter
            $('.miniToggle').css('display', 'none');
            $('#search.col-sm-4.col-lg-3.filterLeft').attr('style', 'flex: 0 0 25%');

            // show inputs with delay for smoother animation
            setTimeout(function () {
                $('.filterInputs').css('display', 'block');
            }, 100)

            filterOpen = true;
            console.log(filterOpen);

        } else {
            // close filter

            // hide inputs
            $('.filterInputs').css('display', 'none');

            $('#search.col-sm-4.col-lg-3.filterLeft').attr('style', 'flex: 0 0 3.5vw');
            $('#search.col-sm-4.col-lg-3.filterLeft').css('padding', '1vw');

            // show mini filter bar
            $('.miniToggle').css('display', 'block');
            filterOpen = false;
            console.log(filterOpen);
        }
    }

</script>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

<script>
    // The script to control the location filter selection
    var dropdown = document.getElementsByClassName("location-dropdown");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

<script>
    // The script to control the container filter selection
    var dropdown = document.getElementsByClassName("container-dropdown");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>