@page
@model ChemStoreWebApp.Pages.LogModel
@using ChemStoreWebApp.Utilities

@{
    ViewData["Title"] = "Log";
}

<!-- Should eventually have its own style sheet -->
<head>
    <link rel="stylesheet" href="\css\searchItemLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="\css\logItemLayout.css" asp-append-version="true" />
</head>

<h1>Search</h1>
<div id="search">
    <div class="search">
        <button class="closeFilter" onclick="closeFilter()">
            X
        </button>
        <form id="filterForm">
            <input type="submit" value="Filter" class="filter" />
            <div class="s">
                User: <input type="text" asp-for="searchUser" />
            </div>
            <div class="s">
                Search Details: <input type="text" asp-for="searchDetails" />
            </div>
            <div class="s">
                Container ID: <input type="text" asp-for="containerID" />
            </div>
            <div class="s">
                <label for="startTime">Start Time: </label>
                <input type="datetime-local" asp-for="startTime" min="2022-01-01T00:00" max="2025-01-01T00:00"/>
            </div>
            <div class="s">
                <label for="endTime">End Time: </label>
                <input type="datetime-local" asp-for="endTime" min="2022-01-01T00:00" max="2025-01-01T00:00"/>
            </div>
            <div class="s">
                <label for="selectAction">Action: </label>
                <select asp-for="searchAction" asp-items="Html.GetEnumSelectList<Actions>()" id="selectAction">
                    <option value="">Pick one</option>
                </select>
            </div>
            <div class="s">
                <label for="selectRole">Role: </label>
                <select asp-for="searchRole" asp-items="Html.GetEnumSelectList<Roles>()" id="selectRole">
                    <option value="">Pick one</option>
                </select>
            </div>
        </form>
    </div>
</div>

<div id="openFilterContainer">
    <button class="openFilter" id="openFilter" onclick="openFilter()">
        >
    </button>
</div>

<div id="results" class="results">
    <table class="table">
        <thead>
        </thead>
        <tbody>
            @if (Model.LogEntries.Count() > 0)
            {
                var count = Model.LogEntries.Count();
                var start = 0;
                var end = 25;
                var numOfPages = Model.LogEntries.Count() / 25;

                @if (!Model.textEntered())
                {
                    <p class="noFilters">No Filters Applied</p>
                }


                if (count < end) { end = count; }

                <tr>
                    <td>
                        Date / Time
                        <button type="submit" class="blankImgButton" form="filterForm" name="sortMethod" class="btn tableButton" value="0">
                            <img src="@((Model.prevSort == 0) ? "assets/upTableSort.png" :
                                        (Model.prevSort == 1) ? "assets/downTableSort.png" : "assets/neutralTableSort.png")" class="img tableSort" id="buttonImg">
                        </button>
                        <input name="prevSort" form="filterForm" asp-for="prevSort" type="number" value="@Model.prevSort" hidden>
                    </td>
                    <td>
                        User
                        <button type="submit" class="blankImgButton" form="filterForm" name="sortMethod" class="btn tableButton" value="2">
                            <img src="@((Model.prevSort == 2) ? "assets/upTableSort.png" :
                                        (Model.prevSort == 3) ? "assets/downTableSort.png" : "assets/neutralTableSort.png")" class="img tableSort" id="buttonImg">
                        </button>
                    </td>
                    <td>
                        Action
                        <button type="submit" class="blankImgButton" form="filterForm" name="sortMethod" class="btn tableButton" value="4">
                            <img src="@((Model.prevSort == 4) ? "assets/upTableSort.png" :
                                        (Model.prevSort == 5) ? "assets/downTableSort.png" : "assets/neutralTableSort.png")" class="img tableSort" id="buttonImg">
                        </button>
                    </td>
                    <td>
                        Container ID
                        <button type="submit" class="blankImgButton" form="filterForm" name="sortMethod" class="btn tableButton" value="8">
                            <img src="@((Model.prevSort == 8) ? "assets/upTableSort.png" :
                                        (Model.prevSort == 9) ? "assets/downTableSort.png" : "assets/neutralTableSort.png")" class="img tableSort" id="buttonImg">
                        </button>
<td>
                        Details
                        <button type="submit" class="blankImgButton" form="filterForm" name="sortMethod" class="btn tableButton" value="6">
                            <img src="@((Model.prevSort == 6) ? "assets/upTableSort.png" :
                                        (Model.prevSort == 7) ? "assets/downTableSort.png" : "assets/neutralTableSort.png")" class="img tableSort" id="buttonImg">
                        </button>
                    </td>
                </tr>
                @for (var i = start; i < end; i++)
                {
                    var item = Model.LogEntries[i];
                    <tr class="cell">
                        <td class="a">
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td class="a">
                            @Html.DisplayFor(modelItem => item.User.Email)
                        </td>
                        <td class="a">
                            @EnumHelper.GetDisplayValue((Actions)item.Action)
                        </td>
                        <td class="a">
                            @if (item.ContainerID == null)
                            {
                                @:N/A
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.ContainerID)
                            }
                        </td>
                        <td class="a">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                }
            }
            else
            {
                <p>No results found</p>
            }
        </tbody>
    </table>

    <div class="pageSelectors">
        <a href=""> > </a>
        <a href=""> >> </a>
    </div>
</div>

<script>
    // Opens and closes the filter sections
    function closeFilter() {
        document.getElementById("search").style.display = "none";
        document.getElementById("openFilter").style.display = "block";
    }
    function openFilter() {
        document.getElementById("search").style.display = "block";
        document.getElementById("openFilter").style.display = "none";
    }

</script>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

<script>
    // The script to control the location filter selection
    var dropdown = document.getElementsByClassName("location-dropdown");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

<script>
    // The script to control the container filter selection
    var dropdown = document.getElementsByClassName("container-dropdown");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>