@page
@model ChemStoreWebApp.Pages.SearchModel

@{
    ViewData["Title"] = "Search";
}
<head>
    <link rel="stylesheet" href="\css\searchItemLayout.css" asp-append-version="true" />
</head>


<h1>Search</h1>

<div id="search">
    <div class="search">
        <button class="closeFilter" onclick="closeFilter()">
            X
        </button>
        <form>
            <input type="submit" value="Filter" class="filter" />
            <div class="s">
                CAS number: <input type="text" asp-for="searchCAS" />
            </div>
            <div class="s">
                Name: <input type="text" asp-for="searchString" />
            </div>
            <div class="s">
                Email: <input type="text" asp-for="searchEmail" />
            </div>
            <div class="s location-dropdown"> Location </div>
            <div class="location-container">
                <!-- Location: <input type="text" asp-for="searchLocation" />
            Number of locations: <input type="text" asp-for="searchNumLocation" />
                -->
                <p> one </p>
                <p> two </p>
                <p> three </p>
            </div>
            <div class="s container-dropdown"> Container </div>
            <div class="container-container">
                <p> Container Size</p>
                Units: <input type="checkbox" />
            </div>
            <!-- Container size: <input type="text" asp-for="searchSize" />-->
        </form>
    </div>
</div>


<div id="openFilterContainer">
    <button class="openFilter" id="openFilter" onclick="openFilter()">
        >
    </button>
</div>

<div id="results" class="results">
    <table class="table">
        <thead>
        </thead>
        <tbody>
            @if (Model.Container.Count() > 0)
            {
                var count = Model.Container.Count();
                var start = 0;
                var end = 25;
                var numOfPages = Model.Container.Count() / 25;
                @if (!Model.textEntered())
                {
                    <p>Enter Text</p>
                }


                if (count - end < 0) { end = count - 1; }
                @for (var i = start; i < end; i++)
                {
                    var item = Model.Container[i];
                    <tr class="expandable">
                        <td class="a">
                            @Html.DisplayFor(modelItem => item.ChemId)
                        </td>
                        <td class="a">
                            @{ var chemName = Model.getChem(item).Result.ChemName; }
                            @chemName
                        </td>
                        <td class="a">
                            @{ var hazard = Model.getHazardId(item); }
                            @hazard.ToString()
                        </td>
                        <td class="a">
                            @{ var numLocations = Model.getNumLocations(item); }
                            @numLocations.ToString()
                        </td>
                        <td class="a">
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td class="a">
                            @Html.DisplayFor(modelItem => item.Size)
                        </td>
                        <td class="a">
                            @{ var roomNum = Model.getRoomNum(item);}
                            @roomNum
                        </td>
                        <td class="a">
                            <a asp-page="Admin/Chemicals/Details" asp-route-id="@item.ChemId">Details</a>
                        </td>
                        <td class="a">
                            <a asp-page="Admin/Hazards/Details" asp-route-id="@Model.getHazardId(item)">Safety Data Sheet</a>
                        </td>
                    </tr>
                    <tr class="moreInformation">
                        <td>
                            More Information
                        </td>
                    </tr>
                }
            }
            else
            {
                <p>No results found</p>
            }
        </tbody>
    </table>

    <div class="pageSelectors">
        <a href=""> << </a>
        <a href=""> < </a>

        @for (var i =1; i<= Model.Container.Count()/25 + 1; i++)
        { 
            <a href=""> @i.ToString()  </a>
        }

        <a href=""> > </a>
        <a href=""> >> </a>
    </div>
</div>


<script>

    // Opens and closes the filter sections
    function closeFilter() {
        document.getElementById("search").style.display = "none";
        document.getElementById("openFilter").style.display = "block";
    }
    function openFilter() {
        document.getElementById("search").style.display = "block";
        document.getElementById("openFiler").style.display = "none";
    }

</script>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
<script>
    var coll = document.getElementsByClassName("expandable");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
                this.style.backgroundColor = "rgb(225,225,225)";
            } else {
                content.style.display = "block";
                this.style.backgroundColor = "rgb(204,204,204)";
            }
        });
    }
</script>

<script>
    // The script to control the location filter selection
    var dropdown = document.getElementsByClassName("location-dropdown");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

<script>
    // The script to control the container filter selection
    var dropdown = document.getElementsByClassName("container-dropdown");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            } 
        });
    }
</script>
