@page
@model ChemStoreWebApp.Pages.SearchModel

@{
    ViewData["Title"] = "Search";
}
<head>
    <link rel="stylesheet" href="~/css/searchItemLayout.css" asp-append-version="true" />
    <style>
        
    </style>
</head>


<h1>Search</h1>

<div class="search">
    <form>
        <div class="default">
            CAS number: <input type="text" asp-for="searchCAS" />
        </div>
        <div class="default">
            Name: <input type="text" asp-for="searchString" />
        </div>
        <div class="default">
            <input type="submit" value="Filter" />
        </div>
    </form>
    <button type="button" class="collapsible">More Filters</button>
    <form class="more">
        <div class="default">
            Email: <input type="text" asp-for="searchEmail" />
        </div>
        <div class="default">
            Location: <input type="text" asp-for="searchLocation" />
        </div>
        <div class="default">
            Number of locations: <input type="text" asp-for="searchNumLocation" />
        </div>
        <div class="default">
            Container size: <input type="text" asp-for="searchSize" />
            Units: <input type="checkbox" />
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Chemical[0].CasNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chemical[0].ChemName)
            </th>
            <th>
                # of Locations
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Chemical.Count() > 0) 
        {
            @foreach (var item in Model.Chemical)
            {
                <tr class="expandable">
                    <td class="a">
                        @Html.DisplayFor(modelItem => item.CasNumber)
                    </td>
                    <td class="a">
                        @Html.DisplayFor(modelItem => item.ChemName)
                    </td>
                    <td class="a">
                        @{  var numLocations = Model.getNumLocations(item); }
                        @numLocations
                    </td>
                    <td class="a">
                        <a asp-page="Admin/Chemicals/Details" asp-route-id="@item.CasNumber">Details</a>
                    </td>
                    <td class="a">
                        <a asp-page="Admin/Hazards/Details" asp-route-id="@item.HazardId">Safety Data Sheet</a>
                    </td>
                </tr>
                <tr class="moreInformation">
                    <td>
                        More Information
                    </td>
                </tr>
            }
         } else {
            <p>No results found</p>
         }
    </tbody>
</table>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
<script>
    var coll = document.getElementsByClassName("expandable");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
                this.style.backgroundColor = "rgb(225,225,225)";
            } else {
                content.style.display = "block";
                this.style.backgroundColor = "rgb(204,204,204)";
            }
        });
    }
</script>
