@page
@model ChemStoreWebApp.Pages.SearchModel

@{
    ViewData["Title"] = "Search";
}
<head>
    <link rel="stylesheet" href="\css\searchItemLayout.css" asp-append-version="true" />
</head>


<h1>Search</h1>

<div id="search">
    <div class="search">
        <button class="closeFilter" onclick="closeFilter()">
            X
        </button>
        <form>
            <input type="submit" value="Filter" class="filter" />
            <div class="s">
                CAS number: <input type="text" asp-for="searchCAS" />
            </div>
            <div class="s">
                Name: <input type="text" asp-for="searchString" />
            </div>
            <div class="s">
                Email: <input type="text" asp-for="searchEmail" />
            </div>
            <div class="s location-dropdown"> Location </div>
            <div class="location-container">
                <!-- Location: <input type="text" asp-for="searchLocation" />
            Number of locations: <input type="text" asp-for="searchNumLocation" />
                -->
                <p> one </p>
                <p> two </p>
                <p> three </p>
            </div>
            <div class="s container-dropdown"> Container </div>
            <div class="container-container">
                <p> Container Size</p>
                Units: <input type="checkbox" />
            </div>
            <!-- Container size: <input type="text" asp-for="searchSize" />-->
        </form>
    </div>
</div>


<button class="openFilter" onclick="openFilter()">
    Open Filters
</button>

<div id="results" class="results">
    <table class="table">
        <thead>
        </thead>
        <tbody>
            @if (Model.Container.Count() > 0)
            {
                @if (!Model.textEntered())
                {
                    <p>Enter Text</p>
                }

                @foreach (var item in Model.Container)
                {
                    <tr class="expandable">
                        <td class="a">
                            @Html.DisplayFor(modelItem => item.ChemId)
                        </td>
                        <td class="a">
                            @{ var chemName = Model.getChem(item).Result.ChemName; }
                            @chemName
                        </td>
                        <td class="a">
                            @{ var hazard = Model.getHazardId(item); }
                            @hazard.ToString()
                        </td>
                        <td class="a">
                            @{ var numLocations = Model.getNumLocations(item); }
                            @numLocations.ToString()
                        </td>
                        <td class="a">
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td class="a">
                            @Html.DisplayFor(modelItem => item.Size)
                        </td>
                        <td class="a">
                            @{ var roomNum = Model.getRoomNum(item);}
                            @roomNum
                        </td>
                        <td class="a">
                            <a asp-page="Admin/Chemicals/Details" asp-route-id="@item.ChemId">Details</a>
                        </td>
                        <td class="a">
                            <a asp-page="Admin/Hazards/Details" asp-route-id="@Model.getHazardId(item)">Safety Data Sheet</a>
                        </td>
                    </tr>
                    <tr class="moreInformation">
                        <td>
                            More Information
                        </td>
                    </tr>
                }
            }
            else
            {
                <p>No results found</p>
            }
        </tbody>
    </table>

    <div class="pageSelectors">
        <a href=""> << </a>
        <a href=""> < </a>

        <a href=""> 1 </a>

        <a href=""> > </a>
        <a href=""> >> </a>
    </div>
</div>


<script>

    function closeFilter() {
        document.getElementById("search").style.display = "none";
    }
    function openFilter() {
        document.getElementById("search").style.display = "block";
    }

</script>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
<script>
    var coll = document.getElementsByClassName("expandable");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
                this.style.backgroundColor = "rgb(225,225,225)";
            } else {
                content.style.display = "block";
                this.style.backgroundColor = "rgb(204,204,204)";
            }
        });
    }
</script>

<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content -
     * This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("location-dropdown");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content -
     * This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("container-dropdown");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            } 
        });
    }
</script>
