@page
@model ChemStoreWebApp.Pages.SearchModel

@{
    ViewData["Title"] = "Search";
}
<head>
    <link rel="stylesheet" href="\css\searchItemLayout.css" asp-append-version="true" />
</head>


<h1>Search</h1>

<div id="search">
    <div class="search">
        <button class="closeFilter" onclick="closeFilter()">
            X
        </button>
        <form>
            <input type="submit" value="Filter" class="filter" />
            <div class="s">
                CAS number: <input type="text" asp-for="searchCAS" />
            </div>
            <div class="s">
                Name: <input type="text" asp-for="searchString" />
            </div>
            <div class="s">
                Email: <input type="text" asp-for="searchEmail" />
            </div>
            <div class="s location-dropdown"> Location </div>
            <div class="location-container">
                <p>Building name: </p> <input type="text" asp-for="searchLocation" />
                <p> TEST Leaving | one </p>
                <p> this just in | two </p>
                <p> case for Mya | three </p>
            </div>
            <div class="s container-dropdown"> Container </div>
            <div class="container-container">
                <p>Container Size: </p> <input type="text" asp-for="searchSize" />
                <!---Units: <input type="checkbox" /> TODO add in this checkbox, temporarily I made it text -->
                <p>Units: </p> <input type="text" asp-for="searchUnits" />
            </div>
            <!-- Container size: <input type="text" asp-for="searchSize" />-->
        </form>
    </div>
</div>


<div id="openFilterContainer">
    <button class="openFilter" id="openFilter" onclick="openFilter()">
        >
    </button>
</div>

<div id="results" class="results">
    <table class="table">
        <thead>
        </thead>
        <tbody>
            @if (Model.DisplayContainers.Count() > 0)
            {
                var count = Model.DisplayContainers.Count();
                var start = 0;
                var end = 25;
                var numOfPages = Model.DisplayContainers.Count() / 25;

                @if (!Model.textEntered())
                {
                    <p>Enter Text</p>
                }


                if (count < end) { end = count; }
                @for (var i = start; i < end; i++)
                {
                    var item = Model.DisplayContainers[i];
                    <tr class="expandable">
                        <td class="a">
                            @Html.DisplayFor(modelItem => item.chem.CasNumber)
                        </td>
                        <td class="a">
                            @Html.DisplayFor(modelItem => item.chem.ChemName)
                        </td>
                        <td class="a">
                            @Html.DisplayFor(modelItem => item.chem.HazardId)
                        </td>
                        <td class="a">
                            @Html.DisplayFor(modelItem => item.con.Unit)
                        </td>
                        <td class="a">
                            @Html.DisplayFor(modelItem => item.con.Size)
                        </td>
                        <td class="a">
                            @Html.DisplayFor(modelItem => item.building.BuildingName)
                            @Html.DisplayFor(modelItem => item.loc.Room)
                        </td>
                        <td class="a">
                            <a asp-page="Admin/Chemicals/Details" asp-route-id="@item.chem.CasNumber">Details</a>
                        </td>
                        <td class="a">
                            <a asp-page="Admin/Hazards/Details" asp-route-id="@item.chem.HazardId">Safety Data Sheet</a>
                        </td>
                    </tr>
                    <tr class="moreInformation">
                        <td>
                            More Information
                        </td>
                    </tr>
                }
            }
            else
            {
                <p>No results found</p>
            }
        </tbody>
    </table>

    <div class="pageSelectors">
        <a href=""> << </a>
        <a href=""> < </a>

        @for (var i =1; i<= Model.DisplayContainers.Count()/25 + 1; i++)
        { 
            <a href=""> @i.ToString()  </a>
        }

        <a href=""> > </a>
        <a href=""> >> </a>
    </div>
</div>


<script>

    // Opens and closes the filter sections
    function closeFilter() {
        document.getElementById("search").style.display = "none";
        document.getElementById("openFilter").style.display = "block";
    }
    function openFilter() {
        document.getElementById("search").style.display = "block";
        document.getElementById("openFiler").style.display = "none";
    }

</script>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
<script>
    var coll = document.getElementsByClassName("expandable");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
                this.style.backgroundColor = "rgb(225,225,225)";
            } else {
                content.style.display = "block";
                this.style.backgroundColor = "rgb(204,204,204)";
            }
        });
    }
</script>

<script>
    // The script to control the location filter selection
    var dropdown = document.getElementsByClassName("location-dropdown");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

<script>
    // The script to control the container filter selection
    var dropdown = document.getElementsByClassName("container-dropdown");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            } 
        });
    }
</script>
